<div [class]="containerStyle" id="add-post-container">
  <div [class]="addPostWrapper">
    <textarea (click)="expand()" [(ngModel)]="postBody" [class]="textareaClass" placeholder="Explore your reply"
              type="text"></textarea>
    <div [class]="buttonsClass" id="buttons">
      <div class="container-fluid">
        <div class="row justify-content-end mx-1">
          <input #inputImage (change)="processImage($event)" accept="image/*" id="inputImage" type="file">
          <div class="container-fluid">
            <div *ngIf="filename" class="p-2 py-0 align-self-center text-primary">{{filename}}</div>
          </div>
          <button (click)="inputImage.click()"
                  class="btn col-2 bg-none attachment-btn text-primary rounded p-2 mx-3 text-center align-self-center"><i aria-hidden="true" class="fa fa-picture-o"></i></button>
          <button (click)="addPost()" class="btn col-auto bg-primary text-white btn-round py-0 m-0 px-4 align-self-center"
                  id="btnSubmit">Comment
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
