.small{
    background-color: crimson;
    padding-bottom: 20%;
    font-size: xx-small;
    color: crimson;
}

.pac-container {  
    z-index: 9999999 !important;  
    top: 32px !important;  
    left: 0 !important; 
}