<div class="col-12">
  <form (ngSubmit)="onSubmit(addMarker.value)" [formGroup]=" addMarker">
    <div class="form-group">
      <label>Marker Name</label>
      <input class="form-control" formControlName="markerName" placeholder="Ex: Place to rest">
      <!-- <div class="invalid-feedback" *ngIf="submitted && formcontrols.markername.errors">This field is required</div> -->

    </div>
    <small *ngIf="markerName.errors" class="alert-danger"> * is required</small>
    <div class="form-group">
      <label>Description</label>
      <input class="form-control" formControlName="description">
    </div>
    <div class="form-group">
      <div style="z-index: 99 !important;">
        <label>Location</label>
        <input #search (keydown.enter)="$event.preventDefault()" autocapitalize="off" autocorrect="off"
               class="form-control" placeholder="Marker Location" spellcheck="off" type="text" type="text">

      </div>
      <!-- <div class="invalid-feedback" *ngIf="submitted && formcontrols.markername.errors">This field is required</div> -->
    </div>
    <!--        <small *ngIf="location.errors" class="alert-danger"> * is required</small>-->

    <div class="form-group">
      <input [disabled]='!addMarker.valid' class="btn btn-primary" type="submit" value="Submit">
    </div>
  </form>
</div>
