<div class="col-12">
    <form [formGroup]=" this.markerservice.form" (ngSubmit)="onSubmit()">
        <input type="hidden" formControlName="$key">
        <div class="form-group">
            <label>Marker Name</label>
            <input formControlName="markerName" class="form-control" [ngClass]="{'is-Invalid':submitted && formcontrols.markername.errors}">
            <div class="invalid-feedback" *ngIf="submitted && formcontrols.markername.errors">This field is required</div>
            
        </div>
        <div class="form-group">
            <label>Description</label>
            <input formControlName="markerName" class="form-control">
        </div>
        <div class="form-group">
            <label>Location</label>
            <input formControlName="markerName" class="form-control" [ngClass]="{'is-Invalid':submitted && formcontrols.location.errors}">
            <div class="invalid-feedback" *ngIf="submitted && formcontrols.markername.errors">This field is required</div>
        </div>
        <div class="form-group" >
            <input type="submit" class="btn btn-primary" value="Submit">
        </div>
    </form>
</div>
