<nav class="navbar px-0 py-1 navbar-expand-md navbar-dark bg-dark fixed-top justify-content-center">
  <div class="container">
    <!--    <div id="logo-container" class="align-items-center col-2 col-md-2 col-lg-1 d-none d-sm-inline-block order-md-1">-->
    <!--      <img height="40px" src="../../assets/images/logo_long.png" routerLink="/home">-->
    <!--    </div>-->
    <div *ngIf="!isUser" class="align-items-center col-3 d-sm-none order-md-1" id="logo-container">
      <img height="40px" routerLink="/home" src="/src/assets/images/logo_long.png">
    </div>
    <div *ngIf="isUser" class="col-5 col-md-5 col-lg-6 d-none d-md-inline-block order-2" id="nav-links">
      <span (click)="sendTo('home')" class="p-1 d-none d-lg-inline-block"><a><i aria-hidden="true"
                                                                                class="fa fa-home mx-2"></i>Home</a></span>
      <!--      <span class="p-1" (click)="sendTo('messages')"><a><i class="fa fa-envelope mx-2" aria-hidden="true"></i>Messages<i class="fa fa-exclamation-circle" *ngIf="unreadmsgs && unreadmsgs.length > 0"></i></a></span>-->
      <span (click)="clearNotif()" class="d-inline-block" class="p-1" ngbDropdown placement="bottom">
        <a ngbDropdownToggle><i aria-hidden="true" class="fa fa-bell mx-2"></i>Notifications<span *ngIf="unread">
          <span *ngIf="unread.length > 0" id="unread-count">{{unread.length}}</span>
        </span></a>
        <div *ngIf="notifcomment || notifgroup || notiflikes || notifevent" id="notif-dropdown" ngbDropdownMenu>
          <div id="notif-list">

             <div *ngFor="let notif of notifcomment; let i = index" class="notif-item">
              <button class="dropdown-item"><app-notification [notif]="notif"></app-notification></button>
            </div>
             <div *ngFor="let notif of notiflikes; let i = index" class="notif-item">
              <button class="dropdown-item"><app-notification [notif]="notif"></app-notification></button>
            </div>
             <div *ngFor="let notif of notifgroup; let i = index" class="notif-item">
              <button class="dropdown-item"><app-notification [notif]="notif"></app-notification></button>
            </div>
             <div *ngFor="let notif of notifevent; let i = index" class="notif-item">
              <button class="dropdown-item"><app-notification [notif]="notif"></app-notification></button>
            </div>
          </div>
          <hr class="py-0">
          <h6 (click)="open(notifModal)" class="text-center px-2">View all notifications</h6>
        </div>
      </span>
    </div>
    <div *ngIf="isUser" class="col-10 col-sm-6 offset-sm-3 offset-md-0 col-md-4 col-lg-4 order-2" id="search-container">
      <app-search></app-search>
    </div>
    <div *ngIf="!isUser" class="col-9 col-sm-auto col-md-5 col-lg-4 order-2 offset-sm-3 offset-md-4 offset-lg-5"
         id="search-container">
      <app-search></app-search>
    </div>
    <a *ngIf="!isUser" class="text-primary d-none d-md-inline-block col-sm-2 order-3 font-weight-bold"
       id="login-nav" routerLink="/login">Login</a>
    <div *ngIf="isUser" class="col-1 order-1 order-sm-3" id="info-container">
      <div class="d-inline-block" ngbDropdown>
        <img [src]="photoURL" class="circle" height="40px" id="dropdownBasic1" ngbDropdownToggle width="40px">
        <div aria-labelledby="dropdownBasic1" id="ngb-dropdown" ngbDropdownMenu>
          <div class="mx-2" id="user-container" routerLink="/user/{{userName}}">
            <img [src]="photoURL" class="circle" height="50px" id="dropdownBasic2" ngbDropdownToggle width="50px">
            <h6 class="mb-0">{{displayName}}</h6>
            <p class="text-muted mb-1">@{{userName}}</p>
            <div id="user-data">
              <p class="m-0"><span class="text-muted">Scribes</span> <span
                class="font-weight-bold">{{totalScribes}}</span></p>
              <p class="m-0"><span class="text-muted">Following</span> <span
                class="font-weight-bold">{{totalFollowing}}</span></p>
              <p class="m-0"><span class="text-muted">Followers</span> <span
                class="font-weight-bold">{{totalFollowers}}</span></p>
            </div>
          </div>
          <hr>
          <button (click)="sendTo('home')" class="dropdown-item p-2 d-lg-none">Home</button>
          <button (click)="sendTo('profile')" class="dropdown-item p-2">Profile</button>
          <button (click)="open(notifModal); clearNotif()" class="dropdown-item p-2 d-md-none">Notifications<span
            *ngIf="unread && unread.length > 0" id="unread-count-small">{{unread.length}}</span></button>
          <!--          <button class="dropdown-item p-2" (click)="sendTo('messages')">Messages</button>-->
          <button (click)="sendTo('groups')" class="dropdown-item p-2">Groups</button>
          <hr>
          <button (click)="sendTo('account')" class="dropdown-item p-2">Account</button>
          <button (click)="logout()" class="dropdown-item p-2 mb-3">Logout</button>
        </div>
      </div>
    </div>
  </div>
</nav>

<ng-template #notifModal>
  <div id="notif-list">
    <h3 class="mx-3 my-2">Notifications</h3>
    <hr class="mx-3 my-1 py-1">

    <div *ngFor="let notif of notifevent; let i = index" class="notif-item">
      <button *ngIf="i <= 10" class="dropdown-item">
        <app-notification [modalRef]="modalRef" [notif]="notif"></app-notification>
      </button>
    </div>
    <div *ngFor="let notif of notifgroup; let i = index" class="notif-item">
      <button *ngIf="i <= 10" class="dropdown-item">
        <app-notification [modalRef]="modalRef" [notif]="notif"></app-notification>
      </button>
    </div>
    <div *ngFor="let notif of notiflikes; let i = index" class="notif-item">
      <button *ngIf="i <= 10" class="dropdown-item">
        <app-notification [modalRef]="modalRef" [notif]="notif"></app-notification>
      </button>
    </div>
    <div *ngFor="let notif of notifcomment; let i = index" class="notif-item">
      <button *ngIf="i <= 10" class="dropdown-item">
        <app-notification [modalRef]="modalRef" [notif]="notif"></app-notification>
      </button>
    </div>
  </div>
</ng-template>
