<div *ngIf="isLoaded; else Loading">
  <div *ngIf="gname; else Invalid" class="container-fluid px-0 pt-0 pt-lg-2 mb-5">
    <div [style]="getStyle()" id="banner-image">
      <button (click)="inputBanner.click()" *ngIf="isAdmin" class="btn btn-banner"
              id="edit-btn">{{filename ? filename : 'Edit Banner'}}</button>
      <input #inputBanner (change)="processImage($event)" accept="image/*" class="d-none" id="inputBanner" type="file">
    </div>
    <div class="container-fluid">
      <div class="bg-white p-2 row mb-2 justify-content-between" id="name-bar">
        <span class="col-10 col-md-5"><h2>{{gname}}</h2></span>
        <span (click)="sendTo('delete')" *ngIf="administrator" class="btn col-2 text-white bg-primary align-self-center"
              id="btnDelete"><h6>Delete Group</h6></span>
        <span (click)="sendTo('edit')" *ngIf="isAdmin" class="btn col-2 text-white bg-primary align-self-center"
              id="btnCreate"><h6>Make Event</h6></span>
        &nbsp;
        <span (click)="open(EditGroup)" *ngIf="isAdmin" class="btn col-2 text-white bg-primary align-self-center"
              id="btnEdit"><h6>Edit</h6></span>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-12 col-md-7 m-0 pr-0 order-2 order-md-1 px-0">
          <app-add-post [id]="gid" type="group"></app-add-post>
          <div class="mt-2">
            <div *ngFor="let post of posts">
              <app-post *ngIf="post" [inputPostID]="post.pid"></app-post>

            </div>

          </div>
        </div>
        <div class="col-12 col-md-5 order-1 order-md-2 px-0 pl-md-2">
          <div *ngIf="isLoggedin; else Login" id="login-check">
            <div *ngIf="isSubbed == false; else Unsub">
              <div (click)="subscribe()" class="text-center btn mb-2 text-white bg-primary" id="joinPanel">
                <h6 class="mx-auto">Subscribe to {{gname}}</h6>
              </div>
            </div>
          </div>
          <div class="bg-white px-2 py-2 mb-1" id="about">
            <h4>About</h4>
            <hr class="mt-1">
            <p>{{desc}}</p>
            <p>Created on {{getDate()}}</p>
          </div>
          <div *ngIf="members" class="bg-white px-2 py-2 mb-1" id="member-list">
            <h4>Members - {{members.length}}</h4>
            <hr class="mt-1 d-none d-md-inline-block">
            <div class="container-fluid d-none d-md-inline-block">
              <div class="row mb-2">
                <div *ngFor="let member of members; let i = index" class="col-2 user-block p-0">
                  <span *ngIf="i<10"><app-user [uid]="member.uid" type='member'></app-user></span>
                </div>
              </div>
            </div>
            <small (click)="open(MemberList)" class="text-primary">All Members</small>
            <br>
            <small (click)="addMembers()" class="text-primary">Add Members</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #Unsub>
  <div (click)="unsubscribe()" class="text-center btn mb-2 text-white bg-primary" id="joinPanel">
    <h6 class="mx-auto">Unsubscribe</h6>
  </div>
</ng-template>

<ng-template #Login>
  <div class="text-center btn mb-2 text-primary bg-white border border-primary" id="joinPanel" routerLink="start">
    <h6 class="mx-auto">Login to subscribe<br>to<br>{{gname}}</h6>
  </div>
</ng-template>

<ng-template #Invalid>
  <app-error error="nogroup"></app-error>
</ng-template>


<ng-template #MemberList let-c="close" let-d="dismiss">
  <div class="p-2">
    <h5>
      Member List
      <button (click)="d('Cross click')" aria-label="Close" class="close" type="button">
        <span aria-hidden="true">&times;</span>
      </button>
    </h5>
    <app-user-list [modalRef]="modalRef" [users]="members"></app-user-list>
  </div>
</ng-template>


<ng-template #EditGroup>
  <app-create-group [groupDetails]="{gid: gid, desc: desc, gname: gname}" [modalRef]="modalRef"></app-create-group>
</ng-template>

<ng-template #addmembers>
  <app-groupsearch></app-groupsearch>
</ng-template>

<ng-template #Loading>
  <div class="text-center py-5">
    <i aria-hidden="true" class="fa fa-spinner fa-3x fa-spin text-primary"></i>
  </div>
</ng-template>

