<div class="jumbotron">
  <div class="row container justify-content-right">
    <div class="align-self-center col-12 col-md-5 col-lg-6 offset-md-1 offset-lg-1 mb-2" id="login-text">
      <h2 class="text-small text-center text-md-right">Login to post and access your profile.</h2>
    </div>
    <div class="text-center col-11 col-sm-9 col-md-5 col-lg-4" id="login-form">
      <form [formGroup]="emailform">
        <h2 class="mb-3">Login</h2>
        <small *ngIf="error" class="mt-0 mb-1 text-danger">{{error}}</small>
        <input class="form-control form-control-md" formControlName="email" placeholder="Email" type="text">
        <small *ngIf="email.touched && email.errors" class="mt-0 mb-1 text-danger">
          <div *ngIf="email.errors.email && !email.errors.required">Please enter a valid Email.</div>
          <div *ngIf="email.errors.required">An Email is required.</div>
        </small>

        <input class="form-control form-control-md" formControlName="password" placeholder="Password" type="password">
        <small *ngIf="password.touched && password.errors" class="mt-0 mb-1 text-danger">
          <div *ngIf="password.errors.minlength">Password should be minimum 6 characters.</div>
          <div *ngIf="password.errors.required">A Password is required is required.</div>
        </small>
      </form>
      <button (click)="login('email')" class="btn btn-dark py-2" id="login-btn">Login</button>
      <a [routerLink]="['/passwdreset']" href="" routerLinkActive="router-link-active">Forgot Password?</a>
    </div>
  </div>
</div>


<ng-template #content let-c="close" let-d="dismiss">
  <div class="p-5">
    <h5>Please verify your email before logging in.</h5>
  </div>
</ng-template>
