<div class="bg-white rounded p-2 px-4" id="create-group-card">
  <div class="row justify-content-between mt-2 mt-md-3 mr-3" id="create-group-header">
    <h3 class="col-auto align-self-center">Group</h3>
    <button (click)="createOrEdit()" class="col-auto btn bg-primary text-white font-weight-bold px-4 py-2 align-self-center"
            id="btnCreate">{{ groupDetails ? 'Edit Group' : 'Create Group'}}</button>
  </div>
  <hr>
  <form [formGroup]="groupForm">
    <div class="form-group mt-4 mb-2">
      <label for="InputGroupName">Group Name</label>
      <input (blur)="checkName($event)" [(ngModel)]="gname" aria-describedby="emailHelp" class="form-control" formControlName="gname"
             id="InputDisplayName" type="text">
      <small class="form-text text-muted">The group name must be unique. (Max 30 characters)</small>
      <div *ngIf="Gname.touched && Gname.errors" class="text-danger">
        <small *ngIf="Gname.errors.minlength" class="form-text">Group name should be minimum 5 characters.</small>
        <small *ngIf="Gname.errors.maxlength" class="form-text">Group name should be maximum 30 characters.</small>
        <small *ngIf="Gname.errors.required" class="form-text">Group name is required.</small>
      </div>
      <div class="text-danger">
        <small *ngIf="Gname.touched && gnameExists" class="form-text">Group name already exists.</small>
      </div>
    </div>
    <div class="form-group mb-2">
      <label for="InputDesc">Description</label>
      <input [(ngModel)]="description" aria-describedby="emailHelp" class="form-control" formControlName="desc"
             type="text">
      <small class="form-text text-muted">Tell everyone what the group is about. (Max 150 characters)</small>
      <div *ngIf="Desc.touched && Desc.errors">
        <small *ngIf="Desc.errors.minlength" class="form-text text-danger">Description should be minimum 5
          characters.</small>
        <small *ngIf="Desc.errors.maxlength" class="form-text text-danger">Description should be maximum 150
          characters.</small>
        <small *ngIf="Desc.errors.required" class="form-text text-danger">Description is required.</small>
      </div>
    </div>
  </form>
</div>
