<mat-tab-group>


  <mat-tab label="Create new event">
    <h2 style="text-align: center">Create New Event</h2>
    <br>
    <br>
    <div class="matCard">
      <div class="form-group row">
        <div class="col-sm-8"></div>

        <button (click)="saveEvent()" *ngIf="!isexists"
                class="btn col-auto bg-primary text-white btn-round py-2 m-0 px-5 align-self-center">Submit
        </button>
        <button (click)="updateEvent()" *ngIf="isexists"
                class="btn col-auto bg-primary text-white btn-round py-2 m-0 px-5 align-self-center">Update
        </button>

      </div>
      <br>
      <br>

      <div class="carousel-slide" data-ride="carousel" id="carouselExampleControls">
        <div class="carousel-inner">

          <div class="carousel-item">
            <img alt="..." class="d-block w-100" src="...">
          </div>
          <div class="carousel-item">
            <img alt="..." class="d-block w-100" src="...">
          </div>
        </div>

      </div>
      <form [formGroup]="eventForm">
        <div class="form-group row">
          <div class="col-sm-1"></div>
          <label class="col-sm-2 col-form-label " for="inputeventname">Event name</label>
          <div class="col-sm-7">
            <input [(ngModel)]="name" class="form-control" formControlName="name" id="inputeventname"
                   placeholder="Add a short,clear name" type="eventname">
            <small *ngIf="Name.errors" class="alert-danger"> * is required</small>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-1"></div>
          <label class="col-sm-2 col-form-label" for="inputlocation">Location</label>
          <div class="col-sm-7">
            <input #search (keydown.enter)="$event.preventDefault()" [(ngModel)]="enteraddress" autocapitalize="off"
                   autocorrect="off" class="form-control" formControlName="enteraddress"
                   id="inputlocation" placeholder="Search For the  Location" spellcheck="off" type="location" type="text">
            <small *ngIf="Location.errors" class="alert-danger"> * is required</small>
          </div>

        </div>
        <div class="form-group row">
          <div class="col-sm-1"></div>
          <label class="col-sm-2 col-form-label" for="description">Description</label>
          <div class="col-sm-7">
            <textarea [(ngModel)]="description" class="form-control" formControlName="description" id="description"
                      placeholder=" description" required></textarea>
            <small *ngIf="Description.errors" class="alert-danger"> * is required</small>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-1"></div>
          <label class="col-sm-2 col-form-label" for="groupname">Group Name</label>
          <div class="col-sm-7">
            <textarea [(ngModel)]="groupname" class="form-control" disabled formControlName="groupname"
                      id="groupname" placeholder=" group name"></textarea>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-1"></div>
          <label class="col-sm-2 col-form-label" for="startdate">Start Date</label>
          <div class="col-sm-7">
            <mat-form-field *ngIf="!isexists">
              <input [(ngModel)]="startdate" [matDatepicker]="picker" [min]="tomorrow()" formControlName="startd"
                     matInput placeholder="Choose a date">
              <small *ngIf="StartDate.errors" class="alert-danger"> * is required</small>
              <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <input [(ngModel)]="startdate" [min]="tomorrow()" class="form-control" formControlName="startdate" id="startdate"
                   placeholder="Start date" type="eventname">
            <!-- <small *ngIf="Name.errors" class="alert-danger"> * is required</small> -->
          </div>
        </div>
        <br>

        <div class="form-group row">
          <div class="col-sm-1"></div>
          <label class="col-sm-2 col-form-label" for="enddate">End Date</label>
          <div class="col-sm-7">
            <mat-form-field *ngIf="!isexists">
              <input [(ngModel)]="enddate" [matDatepicker]="picker1" [min]="tomorrow()" formControlName="enddate"
                     matInput placeholder="Choose a date">
              <small *ngIf="EndDate.errors" class="alert-danger"> * is required</small>
              <mat-datepicker-toggle [for]="picker1" matSuffix></mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
            <input *ngIf="isexists" [(ngModel)]="enddate" [min]="tomorrow()" class="form-control" formControlName="enddate"
                   id="inputeventname" placeholder="End Date" type="eventname">
            <!-- <small *ngIf="Name.errors" class="alert-danger"> * is required</small> -->
          </div>

        </div>
        <div class="form-group row">
          <div class="col-sm-1"></div>
          <label class="col-sm-2 col-form-label" for="starttime">Start Time</label>
          <div class="col-sm-7">
            <input [(ngModel)]="starttime" [format]="24" [ngxTimepicker]="fullTime" aria-label="Enter Time"
                   formControlName="starttime" placeholder="Enter Time" readonly>
            <small *ngIf="StartTime.errors" class="alert-danger"> * is required</small>
            <ngx-material-timepicker #fullTime></ngx-material-timepicker>
          </div>
        </div>
        <br>
        <br>

      </form>
      <div class="form-group row">
        <div class="col-sm-1"></div>
        <div class="form-group pt-4 col-12 col-sm-5 mb-1 align-self-center">
          <input (change)="processImage($event)" accept="image/*" class="inputfile" id="InputPhoto" type="file"
                 value="Choose File">
          <label class="mx-0 text-center" for="InputPhoto"><i aria-hidden="true"
                                                              class="fa fa-upload mr-1"></i>{{filename}}</label>
        </div>
        <span class="col-auto  px-5 ml-3"><img *ngIf="photoURL" [src]="photoURL" class=" align-self-center"
                                               id="displayPhoto"></span>
      </div>

    </div>

  </mat-tab>

  <mat-tab label="Explore">

    <br><br><br>
    <h2 style="text-align: center">Events</h2>
    <!-- <div class="card" >
      <mat-card class="example-card">
        <img (click)="openDialog()" class="myImg" mat-card-image src="../../assets/images/event1.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            This is Fijian event.
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="card" >
      <mat-card class="example-card">
        <img class="myImg" mat-card-image src="../../assets/images/event2.jpg" alt="Photo of a Shib Inu">
        <mat-card-content>
          <p>
            This is Gafs event.
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="card" >
      <mat-card class="example-card">
        <img class="myImg" mat-card-image src="../../assets/images/event3.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            This is Beach cleanup Matara
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="card" >
      <mat-card class="example-card">
        <img class="myImg" mat-card-image src="../../assets/images/event4.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            This is DVAM CEREMONY event.
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="card" >
      <mat-card class="example-card">
        <img class="myImg" mat-card-image src="../../assets/images/event5.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            This is FS event.
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <br><br><br> -->

    <div *ngIf="events" class="row matCard" id="event-list">
      <div *ngFor="let event of events; let i = index" class="col-md-3 mx-auto my-5">
        <mat-card (click)="eventDeatils(event.eid)" class="eventlistitem">
          <img [src]="event.photoURL" alt="Photo of a Shiba Inu" class="myImg" mat-card-image>
          <mat-card-content style="text-align: center">
            <p style="font-weight: bold; font-size: large">{{event.name}}</p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>


    <!-- <div id="event-list" class="bg-white my-2 pb-2" *ngIf="events">
      <hr class="p-0 my-1">
      <div *ngIf="events && events.length > 0; else noGroups" class="mt-2">
        <div *ngFor="let event of events; let i = index" class="mx-3">

          <div class="card" >
            <mat-card class="example-card eventlistitem" (click)="eventDeatils(event.eid)">
              <img class="myImg" mat-card-image [src]="event.photoURL" alt="Photo of a Shiba Inu">
              <mat-card-content>
                <p class=" col-md-6">{{event.name}}</p>
              </mat-card-content>
            </mat-card>
          </div>
        </div><s></s>
      </div>
    </div> -->

    <h2>Events category</h2>
    <button class="btn btn-outline-danger" type="button">Musical shows</button>
    <button class="btn btn-outline-danger" type="button">Business events</button>
    <button class="btn btn-outline-danger" type="button">Private parties/beach parties</button>
    <button class="btn btn-outline-danger" type="button">Get togethers/meetups</button>
    <button class="btn btn-outline-danger" type="button">Charity events</button>
    <button class="btn btn-outline-danger" type="button">Social awareness programs</button>
    <button class="btn btn-outline-danger" type="button">Exhibitions</button>
  </mat-tab>
</mat-tab-group>

<ng-template #ViewEvent>
  <app-popup-window [modalRef]="modalRef"></app-popup-window>
</ng-template>


