.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 200px;
  margin: 50px;
}

/*border-bottom: 1px solid #f48fb1;*/
/*box-shadow: 0 1px 0 0 #f48fb1;*/

.example-card {
  max-width: 400px;
}

.card {
  text-align: center;
  display: inline-block;
  padding: 5px;
}


.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.myImg {
  width: 350px;
  height: 200px;
  padding: 0px;
  border: 0px;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  margin: 1em;
}

.h2{
  margin-left: 200px;
}

.matCard{
  margin: 50px; 
  border: 5px solid #4CAF50;
 }
.carousel-slide{

}

.mat-card {
  padding: 0;
  max-width: 600px;
  margin: 3rem auto;
}

label, small {
  margin-left: 12px;
}
label {
  font-weight: 450;
}

#account-card {
  max-width: 700px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.form-control {
  border-radius: 100px;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.inputfile + label {
  font-size: 1em;
  font-weight: 700;
  color: white;
  background-color: #48a999;
  display: inline-block;
  cursor: pointer;
  padding: 10px 20px;
  width: 100%;
}
.inputfile:focus + label,
.inputfile + label:hover {
  background-color: #3fc4e8;
}
#btnUpdate:hover {
  background-color: #3fc4e8!important;
  cursor: pointer;
}
.eventlistitem:hover, #alt-footer > a:hover {
  cursor: pointer;
  color: #48a999;
}

