
<mat-tab-group>
  <mat-tab label="Explore">
      <form class="form-inline md-form form-sm mt-0">
          <i class="fas fa-search" aria-hidden="true"></i>
          <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search"
            aria-label="Search">
      </form>
      <br><br><br>
      <h2>Your events</h2>
      <div class="card" >
      <mat-card class="example-card">
          <img class="myImg" mat-card-image src="../../assets/images/event1.jpg" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <p>
              This is Fijian event.
            </p>
          </mat-card-content>
      </mat-card>
      </div>
      <div class="card" >
      <mat-card class="example-card">
          <img class="myImg" mat-card-image src="../../assets/images/event2.jpg" alt="Photo of a Shib Inu">
          <mat-card-content>
            <p>
              This is Gafs event.
            </p>
          </mat-card-content>
      </mat-card>
      </div>
      <div class="card" >
          <mat-card class="example-card">
              <img class="myImg" mat-card-image src="../../assets/images/event3.jpg" alt="Photo of a Shiba Inu">
              <mat-card-content>
                <p>
                  This is Beach cleanup Matara
                </p>
              </mat-card-content>
          </mat-card>
          </div>
          <div class="card" >
              <mat-card class="example-card">
                  <img class="myImg" mat-card-image src="../../assets/images/event4.jpg" alt="Photo of a Shiba Inu">
                  <mat-card-content>
                    <p>
                      This is DVAM CEREMONY event.
                    </p>
                  </mat-card-content>
              </mat-card>
              </div>
              <div class="card" >
                  <mat-card class="example-card">
                      <img class="myImg" mat-card-image src="../../assets/images/event5.jpg" alt="Photo of a Shiba Inu">
                      <mat-card-content>
                        <p>
                          This is FS event.
                        </p>
                      </mat-card-content>
                  </mat-card>
              </div>
      <br><br><br>
      <h2>Events you may like</h2>
      <div class="card" >
        <mat-card class="example-card">
            <img class="myImg" mat-card-image src="../../assets/images/event6.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                This is Greenskeepers Revenge.
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>Like</button>
              <button mat-button>Share</button>
            </mat-card-actions>
        </mat-card>
        </div>
        <div class="card" >
          <mat-card class="example-card">
              <img class="myImg" mat-card-image src="../../assets/images/event7.jpg" alt="Photo of a Shiba Inu">
              <mat-card-content>
                <p>
                  This is Startupweekend.
                </p>
              </mat-card-content>
              <mat-card-actions>
                <button mat-button>Like</button>
                <button mat-button>Share</button>
              </mat-card-actions>
          </mat-card>
          </div>
          <div class="card" >
            <mat-card class="example-card">
                <img class="myImg" mat-card-image src="../../assets/images/event8.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                  <p>
                    This is WSS event.
                  </p>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-button>Like</button>
                  <button mat-button>Share</button>
                </mat-card-actions>
            </mat-card>
            </div>
            <div class="card" >
              <mat-card class="example-card">
                  <img class="myImg" mat-card-image src="../../assets/images/event9.jpg" alt="Photo of a Shiba Inu">
                  <mat-card-content>
                    <p>
                      This is DJ party.
                    </p>
                  </mat-card-content>
                  <mat-card-actions>
                    <button mat-button>Like</button>
                    <button mat-button>Share</button>
                  </mat-card-actions>
              </mat-card>
              </div>
              <div class="card" >
                <mat-card class="example-card">
                    <img class="myImg" mat-card-image src="../../assets/images/event10.jpg" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                      <p>
                        This is Iamsuperleague.
                      </p>
                    </mat-card-content>
                    <mat-card-actions>
                      <button mat-button>Like</button>
                      <button mat-button>Share</button>
                    </mat-card-actions>
                </mat-card>
                </div>
                <br><br><br>
      <h2>Events you may like</h2>
        <button type="button" class="btn btn-outline-danger">Dance</button>
        <button type="button" class="btn btn-outline-danger">Art</button>
        <button type="button" class="btn btn-outline-danger">Comedy</button>
        <button type="button" class="btn btn-outline-danger">Crafts</button>
        <button type="button" class="btn btn-outline-danger">Drinks</button>
        <button type="button" class="btn btn-outline-danger">Sing</button>
      </mat-tab>
  <mat-tab label="Calender">  2</mat-tab>
  <mat-tab label="Create new event">

      <div class="example-container">

          <mat-form-field>
            <input matInput placeholder="Name">
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Date">
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Time">
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Vanue">
          </mat-form-field>

          <mat-form-field>
            <textarea matInput placeholder="Decreption"></textarea>
          </mat-form-field>

      </div>

  </mat-tab>
</mat-tab-group>



