<div class="container-fluid p-0">
  <div *ngIf="displayName; else Loading" class="container row pt-2">
    <div class="col-md-3 p-0 m-0 d-none d-md-inline-block" id="user-info">
      <div id="info-wrapper">
        <div [style]="getStyle()" id="bg-cover"></div>
        <div id="user-details">
          <img [src]="photoURL" class="circle bg-primary" height="60" id="home-avatar" width="60">
          <div class="mx-1 pointer" id="user-text" routerLink="/user/{{userName}}">
            <h6 class="mb-0">{{displayName}}</h6>
            <p class="text-muted mb-0">@{{userName}}</p>
          </div>
          <div class="mx-2 mx-lg-2 row justify-content-lg-center" id="user-stats">

            <p class="my-0 col-md-12 col-lg-4 px-1 text-primary"><span class="text-muted font-weight-bold mr-1 mr-lg-0">Followers</span><br
              class="d-none d-lg-inline-block">{{totalFollowers}}</p>
            <p class="my-0 col-md-12 col-lg-4 px-1 text-primary"><span class="text-muted font-weight-bold mr-1 mr-lg-0">Following</span><br
              class="d-none d-lg-inline-block">{{totalFollowing}}</p>
          </div>
        </div>
        <hr class="mt-0 mb-1">
        <div class="px-3 pb-4" id="user-info-nav">
          <a (click)="sendTo('profile')">Profile</a><br>
          <!--          <a (click)="sendTo('messages')">Messages</a><br><hr class="my-2">-->
          <a (click)="sendTo('account')">Account</a>
        </div>
      </div>
      <div *ngIf="groups" class="bg-white my-2 pb-2" id="group-list">
        <div class="container-fluid">
          <div class="row">
            <h5 class="pt-1 col-5">Groups</h5>
            <i (click)="open(CreateGroup)"
               class="fa fa-plus-square fa-2x align-self-center text-primary col-3 mr-1 col-lg-2 ml-auto"
               id="btnCreateGroup"></i>
          </div>
        </div>
        <hr class="p-0 my-1">
        <div *ngIf="groups && groups.length > 0; else noGroups" class="mt-2">
          <div *ngFor="let group of groups; let i = index" class="mx-3">
            <p (click)="sendTo('group', group.gid)" *ngIf="i<5" class="grouplistitem my-1">{{group.gname}}</p>
          </div>
          <small (click)="open(GroupList, 'grouplist')" *ngIf="groups && groups.length > 5"
                 class="mx-3 my-2 text-primary pointer">See More...</small>
        </div>
      </div>
      <div *ngIf="events" class="bg-white my-2 pb-2" id="event-list">
        <div class="container-fluid">
          <div class="row">
            <h5 class="pt-1 col-5">Events</h5>
            <!--            <i id="btnCreateEvent" class="fa fa-plus-square fa-2x align-self-center text-primary col-3 mr-1 col-lg-2 ml-auto" (click)="sendToEvent()"></i>-->
          </div>
        </div>
        <hr class="p-0 my-1">
        <div *ngIf="events && events.length > 0; else noEvents" class="mt-2">
          <div *ngFor="let event of events; let i = index" class="mx-3">
            <p (click)="sendTo('event', event.eid)" *ngIf="i<5" class="eventlistitem my-1">{{event.name}}</p>
          </div>
          <s></s>
          <small (click)="open(EventList, 'eventlist')" *ngIf="events && events.length > 5"
                 class="mx-3 my-2 text-primary pointer">See More...</small>
        </div>
      </div>
    </div>
    <div class="col-md-6 pb-4" id="posts-container">
      <app-add-post [showAvatar]="true" [userURL]="photoURL"></app-add-post>
      <div *ngFor="let feedPost of feedPosts" id="feed-posts" style="overflow-y: hidden">
        <app-post [inputPostID]="feedPost.pid"></app-post>
      </div>
      <div *ngIf="feedPosts && feedPosts.length < 1" class="text-muted text-center py-4">
        Follow a user or subscribe to an event or subscribe to a group to get feed scribes.
      </div>
    </div>
    <div class="col-md-3 px-0 my-0" id="right-panel">
      <div class="bg-white mb-2 pb-2" id="suggested">
        <h5 class="pt-1 px-2" id="title">You may like</h5>
        <app-suggested></app-suggested>
      </div>

    </div>
  </div>
</div>
<ng-template #noGroups>
  <p class="mx-1 text-center text-muted">You are not a member of any groups</p>
</ng-template>

<ng-template #Loading>
  <div class="text-center pt-5 text-primary">
    <i aria-hidden="true" class="fa fa-spinner fa-4x fa-spin"></i>
    <h2 class="pt-1">loading your feed...</h2>
  </div>
</ng-template>

<ng-template #GroupList>
  <app-grouplist [groups]="groups" [modalRef]="modalRef"></app-grouplist>
</ng-template>

<ng-template #CreateGroup>
  <app-create-group [modalRef]="modalRef"></app-create-group>
</ng-template>

<ng-template #EventList>
  <app-eventlist [events]="events" [modalRef]="eventModalRef"></app-eventlist>
</ng-template>

<ng-template #noEvents>
  <p class="mx-1 text-center text-muted">You are not a subscribe to any event</p>
</ng-template>
