<div id="roomContainer">
  <div class="py-3 px-4 bg-primary text-white" id="room-header">
    <img *ngIf="room.photoURL" [src]="room.photoURL" class="circle border border-white" height="50px" width="50px">
    <span (click)="sendToProfile()" class="mx-2 pointer" id="roomNameContainer">{{room.displayName}}</span>
  </div>
  <div class="px-3 py-1" id="room-body" lock-y-offset="10" ngx-auto-scroll observe-attributes>
    <div *ngFor="let msg of msgs" id="msg-container">
      <app-message [messageData]="msg"></app-message>
    </div>
  </div>
  <div class="py-3 px-2" id="add-message">
    <input (keyup.enter)="sendMsg()" [(ngModel)]="msgText" class="form-control" id="add-msg" placeholder="Type a message"
           type="text">
  </div>
</div>
